<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.manse">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.brightcove.cast.DefaultOptionsProvider" />
    <meta-data  android:name="com.brightcove.cast.DefaultOptionsProvider.EXPANDED_CONTROLLER_ACTIVITY_CLASS_NAME"
                android:value="com.brightcove.cast.DefaultExpandedControllerActivity" />
</manifest>
